body {
  background-color: #D5D5D5;
  padding:0;
  margin:0;
}
#Header a:hover {
  color: #FFF;
}
#Header {
  width:100vw;
}
.bg-img {
  width: 100%;
  height: 400px;

}
#About {
  margin-top: -200px;
}
#About .fa {
  color:white;
}
#About span {
  padding: 10px 20px 10px 20px;
}
#About hr{
  border-width: 2px;
  margin-top:6px;
}
#About .text-muted{
  margin: 0 auto;
}
#Skills span{
  padding: 10px 20px 10px 20px;
}
#Skills hr{
  border-width: 2px;
  margin-top:6px;
}
#Experience span{
  padding: 10px 20px 10px 20px;
}
#Experience hr{
  border-width: 2px;
  margin-top:6px;
}
#Experience .row{
  justify-content: space-between;
}
#Experience .test{
  width: 200px;
  height: 100px;
}
#carouselControls{
  width: 100%;
  height: 75%;
}
#carouselControls2{
  width:100%;
  height: 75%;
}
#carouselControls3{
  width:100%;
  height: 75%;
}
#carouselControls4{
  width:100%;
  height: 75%;

}
#Experience .carousel-inner{
  border-top: 3px solid #2d3436;
  height: 128%;
}
#Certificates span{
  padding: 10px 20px 10px 20px;
}
#Certificates hr{
  border-width: 2px;
  margin-top:6px;
}
.card-footer{
  display: flex;
  height: 70px;
}
.card-footer p{
  font-size:12px;
}
.col-lg-6{
  width: 100%;
  max-width: 100%;
}
#Experience p{
  padding: 2%;
  font-size:22px;
  font-weight: bold;
}
.card-title{
  margin: 0 auto;
}
@media(min-width: 991px){
  .card-title{
    margin: 0;
  }
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
  color: black;
  filter: opacity(80%);
}
td{
  font-size: 15px;
}
@media(min-width:410px){
  td{
    font-size: 20px;  
  }
  #About .text-muted{
    font-size:19px;
  }
}
@media(min-width:990px){
  .col-lg-6{
    width: 100%;
    max-width: 440px;
  }
}
@media(min-width: 1024px){
  #About .lead{
    font-size: 27px;
  }
  td{
    font-size: 22px;  
  }
  #About .text-muted{
    font-size:20px;
  }
}
